/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.u-full-width {
  width: 100%;
  box-sizing: border-box;
}
.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box;
}
.u-half-width {
  width: 50%;
}
.u-max-half-width {
  width: 50%;
}
.u-pull-right {
  float: right;
}
.u-pull-left {
  float: left;
}
